<h1>Login</h1>
<%= form_for @conn, Routes.session_path(@conn, :create), [as: :credentials], fn f -> %>
    <div>
        <%= text_input f, :email, placeholder: "Email" %>
    </div>
    <div>
        <%= password_input f, :password, placeholder: "Password" %>
    </div>
    <%= submit "Log in" %>
<% end %>
