<h1>Register</h1>
<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Please rectify the errors below.</p>
    </div>
<% end %>
<%= form_for @changeset, Routes.account_path(@conn, :create), [as: :account], fn f -> %>
    <div>
        <%= text_input f, :name, placeholder: "Full name" %>
        <%= error_tag f, :name %>
    </div>
    <div>
        <%= text_input f, :email, placeholder: "Email" %>
        <%= error_tag f, :email %>
    </div>
    <div>
        <%= password_input f, :password, placeholder: "Password" %>
        <%= error_tag f, :password %>
    </div>
    <div>
        <%= password_input f, :password_confirmation, placeholder: "Confirm password" %>
        <%= error_tag f, :password_confirmation %>
    </div>
    <%= submit "Register" %>
<% end %>
